img {
    width: 100px;
    height:100px;
}

.form {
    padding-left: 35px;
}

.product {
    display: inline-block;
}

div[ng-repeat]{
    width: 20%;
    padding: 10px;
    display: inline-block;
}