<input type="text" ng-model="filter_name" value="Search">
<h1>Products</h1>
<div ng-controller = 'ProductsController'>
    <div class="row">
        <div class="col-md-8">

            <div ng-repeat = "product in products | filter:filter_name | orderBy:'name' " class="product">
                <img ng-src="{{product.url}}">
                <p>{{product.name}}</p>
                <p>{{product.quantity}} Left</p>
            </div>
        </div>
    </div>
</div>


<h1>Recent Orders</h1>
<div ng-controller = 'OrdersController'>

    <table>
        <tr ng-repeat = "order in orders | filter:filter_name | orderBy:'name' ">
            <td>{{order.name}} purchased {{order.quantity}} {{order.item}}</td>
        </tr>
    </table>
</div>

<h1>New Customers</h1>
<div ng-controller ="CustomersController">
    <table>
        <tr ng-repeat="customer in customers | filter:filter_name" >
            <td>{{customer.name}} joined the store on {{customer.date | date: format:LongDate}}</td>
        </tr>
    </table>
</div>
