<h1>Orders</h1>
<div ng-controller = 'OrdersController'>
    Filter Orders: <input type="text" ng-model="filter_name">


    <h2>Add a New Order.</h2>

    <form>
        <select ng-model="new_order.name">
            <option ng-repeat = "customer in customers">{{customer.name}}</option>
        </select>

        <select ng-model ="new_order.item">
            <option ng-repeat = "product in products">{{product.name}}</option>
        </select>
        Quantity: <input type="number" ng-model = "new_order.quantity">
        <input type="hidden" ng-model = "new_order.date">
        <input type="submit" value="Add new Order" ng-click = 'addOrder()'>
    </form>

    <table>
        <thead>
        <tr>
            <td>Customer Name</td>
            <td>Product Name</td>
            <td>Quantity</td>
            <td>Date Ordered</td>
        </tr>
        </thead>
        <tr ng-repeat = "order in orders | filter:filter_name | orderBy:'name' ">
            <td>{{order.name}}</td>
            <td>{{order.item}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.date | date:format:LongDate}}</td>
            <td><input type="submit" value="Delete" ng-click="deleteOrder(order)"></td>
        </tr>
    </table>
</div>