<h1>Products</h1>
<div ng-controller = 'ProductsController'>
    Filter Products: <input type="text" ng-model="filter_name" value="Search">



    <div class="row">
        <div class="col-md-4 form">
            <h2>Add a New Product.</h2>
            <form>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" ng-model ="new_product.name">
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <input type="text" ng-model ="new_product.url">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="3" ng-model="new_product.description"></textarea>
                </div>
                <div class="form-group">
                    <label>Quantity</label>
                    <input type="number" ng-model ="new_product.quantity">
                </div>
                <input type="hidden" ng-model = "new_product.date">
                <input type="submit" value="Add new Product" ng-click = 'addProduct()'>
            </form>
        </div>
        <div class="col-md-8">

                <div ng-repeat = "product in products | filter:filter_name | orderBy:'name' " class="product">
                    <img ng-src="{{product.url}}">
                    <p>{{product.name}}</p>
                    <p>{{product.quantity}} Left</p>
                    <input type="submit" value="Delete" ng-click="deleteProduct(product)">
                </div>
        </div>
    </div>
</div>