<h1>Products</h1>
<div ng-controller = 'ProductsController'>
    Filter Products: <input type="text" ng-model="filter_name" value="Search">



    <div class="row">
        <div class="col-md-4 form">
            <h2>Add a New Product.</h2>
            <form>
                <p>Name: <input type="text" ng-model ="new_product.name"></p>
                <p>Image(url):<input type="text" ng-model ="new_product.url"></p>
                <p>Description:<textarea ng-model="new_product.description"></textarea></p>
                <p> Quantity: <select ng-model ="new_product.quantity">
                    <option value ="1">1</option>
                    <option value ="2">2</option>
                    <option value ="3">3</option>
                    <option value ="4">4</option>
                    <option value ="5">5</option>
                    <option value ="6">6</option>
                    <option value ="7">7</option>
                    <option value ="8">8</option>
                    <option value ="9">9</option>
                    <option value ="10">10</option>
                </select></p>
                <input type="hidden" ng-model = "new_product.date">
                <input type="submit" value="Add new Product" ng-click = 'addProduct()'>
            </form>
        </div>
        <div class="col-md-8">

                <div ng-repeat = "product in products | filter:filter_name | orderBy:'name' " class="product">
                    <img ng-src="{{product.url}}">
                    <p>{{product.name}}</p>
                    <p>{{product.quantity}} Left</p>
                    <p>{{product.date | date:format:LongDate}}</p>
                    <input type="submit" value="Delete" ng-click="deleteProduct(product)">
                </div>
        </div>
    </div>
</div>